<template>
  <teleport to="head">
    <title>Цифровой логопед – образовательная платформа Novator</title>
  </teleport>
  <div class="app-container">
    <NuxtLayout>
      <NuxtPage />
    </NuxtLayout>
  </div>
</template>

<script lang="ts" setup></script>

<style lang="less" scoped></style>
