@font-face {
  font-family: "Stolzl-light";
  src: url("./stolzl_light.otf") format("opentype");
}

@font-face {
  font-family: "Stolzl-book";
  src: url("./stolzl_book.otf") format("opentype");
}

@font-face {
  font-family: "Stolzl-medium";
  src: url("./stolzl_medium.otf") format("opentype");
}

@font-face {
  font-family: "Stolzl-regular";
  src: url("./stolzl_regular.otf") format("opentype");
}

@font-face {
  font-family: "Caveat-regular";
  src: url("./Caveat-Regular.ttf") format("opentype");
}
