<template>
  <div class="diagnostics-component-container">
    <div class="background" />
    <div
      class="content"
      :style="[step == 4 ? { background: '#FFF0E5' } : null]"
    >
      <div class="title">
        <div v-if="step == 0 || step == 1">
          Прослушайте фразу и повторите после сигнала
        </div>
        <div v-if="step == 2">Проверьте свою запись</div>
        <div v-if="step == 3">Ура! Почти готово</div>
        <div v-if="step == 4" class="special-title">Ваш отчет готов!</div>
      </div>
      <div class="description">
        <div v-if="step == 0 || step == 1">
          После нажатия кнопки «Прослушать» → начнется запись, необходимо чтобы
          ребенок повторил фразу
        </div>
        <div v-if="step == 2">
          Прослушайте свою запись<br />
          и если нужно, перезапишите ее
        </div>
        <div v-if="step == 3">
          Нам нужно около 5 минут на подготовку отчета, мы пришлем его вам в
          WhatsApp
        </div>
        <div class="special-description" v-if="step == 4">
          <span class="outline">Специальное предложение для вас:</span> <br />
          3 вводных занятия
        </div>
      </div>
      <div v-if="step == 0 || step == 1 || step == 2" class="phrase">
        <div class="background-img">
          <img :src="backgroundStep" alt="" />
        </div>
        <div class="title">Фраза:</div>
        <div class="text">
          {{ currentStep?.phrase }}
        </div>
      </div>
      <div v-if="step == 3" class="present">
        А еще подарим скидку <br />
        и раскраску вашему ребенку
      </div>
      <div v-if="step == 4" class="second-present">
        <div class="price">
          <img src="/images/present.png" alt="" />
        </div>
        <div class="description">
          Что вы получите: проработаете 1 звук, построите четкий план
          исправлений остальных звуков, узнаете особенности речи вашего ребенка
        </div>
        <div class="finish-button">Купить 3 вводных занятия →</div>
      </div>
      <div v-if="step == 3" class="phone">
        <input
          v-model="phone"
          placeholder="Укажите номер телефона"
          type="tel"
        />
      </div>
      <div v-if="step == 3" class="get-report" @click="sendingResult">
        Получить отчет →
      </div>
      <div v-if="step == 2" class="audio">
        <audio controls :src="audio">
          <source :src="audio" :type="audioType" />
        </audio>
      </div>
      <div class="buttons">
        <div v-if="step == 0" class="record" @click="record">
          <div>Прослушать</div>
        </div>
        <div v-if="step == 1" class="stop" @click="stop">
          <div>Остановить запись</div>
        </div>
        <div v-if="step == 2" class="next" @click="nextStep">
          Следующий шаг →
        </div>
        <div v-if="step == 2" class="rewrite" @click="rewrite">
          Перезаписать
        </div>
      </div>
      <div class="warning" v-if="step == 0 || step == 1">
        Если что-то пошло не так, вы сможете <br />
        перезаписать фразу
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
//@ts-ignore
import { Howl } from "howler";

const props = defineProps({
  diagnosticsSteps: {
    type: Array<any>,
    default: () => [],
  },
  birthday: {
    type: String,
    default: () => "",
  },
});

//@ts-ignore
import { v4 as uuidv4 } from "uuid";

const uuid = uuidv4();

const phone: Ref<any> = ref(null);

const step = ref(0);

const steps: Ref<Array<any>> = ref([]);

const currentStep = computed(() => {
  return steps.value[0];
});

const backgroundStep = computed(() => {
  return steps.value[0]?.background_link;
});

$fetch(
  "https://api.novator.school/external/diagnostic/?token=2f0cfff4fe049785897803933ffc3a59",
  {
    method: "GET",
  }
).then((res: any) => {
  res.filter((el: any) => {
    props.diagnosticsSteps.forEach((element: any) => {
      if ((element.name as string).toLowerCase().includes(el.phoneme)) {
        steps.value.push(el);
      }
    });
  });
});

const mediaRecorder: Ref<any> = ref(null);

const audio: Ref<any> = ref(null);
const audioType: Ref<string> = ref("");

const file: Ref<any> = ref();

const record = () => {
  navigator.mediaDevices.getUserMedia({ audio: true }).then((stream) => {
    const mainAudio = new Howl({
      src: [currentStep.value?.example_record],
    });

    mainAudio.play();

    mainAudio.once("end", () => {
      const pipAudio = new Howl({
        src: ["https://static.novator.school/diagnostics/pip.m4a"],
      });
      pipAudio.play();

      pipAudio.once("end", () => {
        step.value = 1;
        let voice = [];
        mediaRecorder.value = new MediaRecorder(stream);
        mediaRecorder.value.start();

        mediaRecorder.value.addEventListener(
          "dataavailable",
          function (event: any) {
            voice.push(event.data);

            const blob = new Blob(voice, {
              type: mediaRecorder.value.mimeType,
            });

            audio.value = URL.createObjectURL(blob);
            audioType.value = mediaRecorder.value.mimeType;

            const formData = new FormData();
            formData.append("user_id", uuid);
            formData.append("source", "dialogo");
            formData.append("phoneme", currentStep.value?.phoneme);
            formData.append("file", blob);

            file.value = formData;
          }
        );
      });
    });
  });
};

const stop = () => {
  mediaRecorder.value.stop();
  step.value = 2;
};

const nextStep = () => {
  $fetch(
    "https://api.novator.school/external/diagnostic/step?token=2f0cfff4fe049785897803933ffc3a59",
    {
      method: "POST",
      body: file.value,
    }
  ).then((res: any) => {
    if (steps.value.length <= 1) {
      step.value = 3;
    } else {
      step.value = 0;
      steps.value.shift();
    }
  });
};

const rewrite = () => {
  step.value = 0;
};

const sendingResult = () => {
  const searchParams = new URLSearchParams(useRequestURL().href);
  const utm_source = searchParams.get("utm_source") ?? "";
  const utm_medium = searchParams.get("utm_medium") ?? "";
  const utm_campaign = searchParams.get("utm_campaign") ?? "";
  const utm_content = searchParams.get("utm_content") ?? "";
  const utm_term = searchParams.get("utm_term") ?? "";

  let utm = {
    utm_source,
    utm_medium,
    utm_campaign,
    utm_content,
    utm_term,
  };
  $fetch(
    "https://api.novator.school/external/diagnostic/user?token=2f0cfff4fe049785897803933ffc3a59",
    {
      method: "POST",
      body: {
        user_id: uuid,
        source: "dialogo",
        params: JSON.stringify({
          utm: utm,
          phone: phone.value,
          birthday: props.birthday,
        }),
      },
    }
  ).then((res: any) => {
    step.value = 4;
  });
};
</script>

<style lang="less" scoped>
.diagnostics-component-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 600px) {
    width: 100%;
  }

  .background {
    width: 100%;
    height: 100%;
    background: rgba(33, 34, 35, 0.8);
    position: absolute;
    z-index: -1;
  }

  .content {
    width: 677px;
    height: 543px;
    background-color: #fff;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 38px 108px 41px 108px;

    @media (max-width: 600px) {
      width: 100%;
      padding: 25px;
    }

    .title {
      font-size: 26px;
      line-height: 35px;
      text-align: center;
      font-family: "Stolzl-medium";
    }

    .special-title {
      font-family: "Caveat-regular";
      font-size: 60px;
      line-height: 39px;
      color: #ff6b00;
      margin-top: 10px;

      @media (max-width: 600px) {
        font-size: 40px;
      }
    }

    .description {
      margin-top: 19px;
      font-family: "Stolzl-light";
      text-align: center;
    }

    .special-description {
      margin-top: 18px;
      font-size: 18px;

      @media (max-width: 600px) {
        font-size: 14px;
      }

      .outline {
        text-decoration: underline;
        font-size: 18px;
        line-height: 31px;
      }
    }

    .phrase {
      width: 462px;
      height: 108px;
      border-radius: 15px;
      border: 1px solid #d1d1d1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 43px;
      position: relative;

      @media (max-width: 600px) {
        width: 100%;
      }

      .background-img {
        position: absolute;
        overflow: hidden;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0.5;
        border-radius: 15px;

        img {
          width: 100%;
        }
      }

      .title {
        font-size: 18px;
        line-height: 24px;
        z-index: 100;
      }

      .text {
        z-index: 100;
        font-size: 16px;
        line-height: 24px;
      }
    }

    .present {
      width: 100%;
      text-align: center;
      font-family: "Caveat-regular";
      font-size: 40px;
      line-height: 39px;
      margin-top: 65px;
      color: #4f46d4;
    }

    .second-present {
      margin-top: 49px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .price {
        width: 100%;
        text-align: center;

        img {
          width: 300px;

          @media (max-width: 600px) {
            width: 250px;
          }
        }
      }

      .description {
        width: 418px;
        margin-top: 27px;
        font-size: 14px;
        text-align: center;

        @media (max-width: 600px) {
          font-size: 12px;
          width: 300px;
        }
      }

      .finish-button {
        margin-top: 41px;
        width: 100%;
        height: 60px;
        text-align: center;
        line-height: 60px;
        color: #fff;
        background-color: #ff6b00;
        border-radius: 10px;
        cursor: pointer;

        @media (max-width: 600px) {
          height: 45px;
          line-height: 45px;
        }
      }
    }

    .phone {
      width: 100%;
      margin-top: 65px;

      input {
        width: 100%;
        height: 60px;
        background-color: #ececec;
        border: none;
        box-sizing: border-box;
        padding: 0px 16px;
        border-radius: 10px;
        font-size: 16px;
        font-family: "Stolzl-book";

        @media (max-width: 600px) {
          height: 40px;
          font-size: 10px;
        }

        &:focus {
          outline: none;
        }

        &::placeholder {
          font-family: "Stolzl-book";
          font-size: 16px;
          line-height: 19px;

          @media (max-width: 600px) {
            font-size: 10px;
          }
        }
      }
    }

    .get-report {
      width: 100%;
      height: 60px;
      text-align: center;
      line-height: 60px;
      color: #fff;
      background-color: #4f46d4;
      border-radius: 10px;
      margin-top: 41px;
      cursor: pointer;

      @media (max-width: 600px) {
        height: 45px;
        line-height: 45px;
      }
    }

    .audio {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 15px;
    }

    .buttons {
      margin-top: 41px;

      .record {
        width: 100%;
        height: 60px;
        background-color: #4f46d4;
        color: #fff;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }

      .stop {
        width: 100%;
        height: 60px;
        background-color: #4f46d4;
        color: #fff;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }

      .next {
        width: 100%;
        height: 60px;
        background-color: #4f46d4;
        color: #fff;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }

      .rewrite {
        width: 100%;
        height: 60px;
        background-color: #f2f2f2;
        color: #9b9b9b;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        cursor: pointer;
      }
    }

    .warning {
      margin-top: 27px;
      text-align: center;
    }
  }
}
</style>
