<template>
  <div class="footer-component-container">
    <div class="contacts">
      <div class="phone">+7 (969) 967-63-33</div>
      <div class="email">hello@novatorkids.ru</div>
      <div class="title">Правовая информация</div>
      <div class="documentation">
        <a :href="item.url" v-for="item in documentation">
          {{ item.name }}
        </a>
      </div>
    </div>
    <div class="line" />
    <div class="about-us">
      <div class="title">О компании</div>
      <div class="information">
        <div class="item" v-for="item in aboutUsInformation">
          {{ item }}
        </div>
      </div>
      <div class="address">105264, Москва, ул. 7-я Парковая, д.2</div>
    </div>
    <div class="line" />
    <div class="social-network">
      <div class="navigation">
        <a :href="item.url" v-for="item in navigation">
          {{ item.name }}
        </a>
      </div>
      <div class="title">Социальные сети</div>
      <div class="networks">
        <a :href="network.url" class="network" v-for="network in socialNetwork">
          <img :src="network.img" alt="" />
        </a>
      </div>
      <div class="copyright">© 2020–2024 Онлайн-школа «NOVATOR»</div>
    </div>
  </div>
</template>

<script lang="ts" setup>
const documentation = [
  {
    name: "Договор оферты",
    url: "https://novatorkids.ru/do",
  },
  {
    name: "Политика конфиденциальности",
    url: "https://novatorkids.ru/pc",
  },
];

const aboutUsInformation = [
  "ООО «НОВАТОР СКУЛ»",
  "ИНН 9719013453,",
  "ОГРН 1217700113",
];

const navigation = [
  {
    name: "О нас",
    url: "https://novatorkids.ru/",
  },
  {
    name: "Блог",
    url: "https://novatorkids.ru/blog",
  },
  {
    name: "Занятия",
    url: "https://novatorkids.ru/logoped_new",
  },
];

const socialNetwork = [
  {
    img: "/images/vk.png",
    url: "https://vk.com/novator.kids",
  },
  {
    img: "/images/dzen.png",
    url: "https://dzen.ru/id/5ff849aec0060a2f2939892b",
  },
  {
    img: "/images/telegram.png",
    url: "https://t.me/novatorkids",
  },
];
</script>

<style lang="less" scoped>
.footer-component-container {
  width: 100%;
  min-height: 272px;
  border: 1px solid #4f46d4;
  border-radius: 20px 20px 0 0;
  border-bottom: none;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 37px 45px 35px 114px;

  @media (max-width: 600px) {
    width: 100%;
    flex-direction: column;
    border: none;
    background-color: #f6f6fd;
    padding: 14px 35px;
  }

  .line {
    width: 1px;
    height: 100%;
    background-color: #b8b4ee;

    @media (max-width: 600px) {
      width: 100%;
    }
  }

  .contacts {
    width: 331px;

    .phone {
      font-size: 22px;
      line-height: 37px;
      font-family: "Stolzl-medium";
    }

    .email {
      font-size: 16px;
      font-family: "Stolzl-light";
    }

    .title {
      font-size: 22px;
      line-height: 34px;
      font-family: "Stolzl-medium";
      margin-top: 24px;
    }

    .documentation {
      display: flex;
      flex-direction: column;

      a {
        text-decoration: none;
        font-size: 16px;
        line-height: 27px;
        font-family: "Stolzl-light";
        color: #000;
      }
    }
  }

  .about-us {
    width: 204px;

    @media (max-width: 600px) {
      margin-top: 20px;
    }

    .title {
      font-size: 22px;
      font-family: "Stolzl-medium";
      line-height: 20px;
    }

    .information {
      margin-top: 10px;
      font-size: 16px;
      line-height: 27px;
      font-family: "Stolzl-light";
    }

    .address {
      margin-top: 30px;
      font-family: "Stolzl-light";
      line-height: 27px;

      @media (max-width: 600px) {
        margin-top: 0;
      }
    }
  }

  .social-network {
    width: 250px;

    .navigation {
      width: 100%;
      display: flex;
      justify-content: space-between;

      @media (max-width: 600px) {
        display: none;
      }
      a {
        font-family: "Stolzl-light";
        text-decoration: none;
        color: #000;
        font-size: 16px;
        line-height: 26px;
      }
    }

    .title {
      margin-top: 36px;
      font-size: 22px;
      line-height: 20px;
    }

    .networks {
      margin-top: 13px;

      .network {
        width: 45px;

        img {
          width: 45px;
          margin-right: 15px;
        }
      }
    }

    .copyright {
      margin-top: 23px;
      color: #677171;
      font-family: "Stolzl-light";
    }
  }
}
</style>
