<template>
  <div class="header-components-container">
    <div class="left">
      <img src="/images/logo.png" alt="" />
    </div>
    <div class="right">
      <div class="question" @click="opentCQ">Задать вопрос</div>
      <div class="consultation" @click="opentCQ">Бесплатная консультация</div>
    </div>
  </div>
</template>

<script lang="ts" setup>
const opentCQ = () => {
  //@ts-ignore
  carrotquest.open();
};
</script>

<style lang="less">
.header-components-container {
  width: 100%;
  height: 73px;
  background-color: #4f46d4;
  border-radius: 0 0 20px 20px;
  box-sizing: border-box;
  padding: 0 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 600px) {
    width: 345px;
    padding: 0 10px;
  }

  .left {
    img {
      width: 132px;
    }
  }

  .right {
    display: flex;
    .question {
      width: 169px;
      height: 38px;
      border: 1px solid #fff;
      border-radius: 10px;
      color: #fff;
      font-size: 16px;
      text-align: center;
      line-height: 38px;
      cursor: pointer;
    }

    .consultation {
      width: 247px;
      height: 38px;
      background-color: #fff;
      border-radius: 10px;
      color: #4f46d4;
      font-size: 16px;
      text-align: center;
      line-height: 38px;
      cursor: pointer;
      margin-left: 21px;

      @media (max-width: 600px) {
        display: none;
      }
    }
  }
}
</style>
