<template>
  <div class="default-layout-container">
    <Header />
    <div class="page">
      <slot />
    </div>
    <Footer />
  </div>
</template>

<script lang="ts" setup></script>

<style lang="less">
.default-layout-container {
  width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 74px;

  @media (max-width: 600px) {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .page {
    width: 100%;

    @media (max-width: 600px) {
      width: 345px;
      padding: 0;
    }
  }
}
</style>
