<template>
  <div class="index-page-container">
    <diagnostics-modal
      @success="deleteStep"
      :diagnostics-steps="activeSounds"
      :birthday="birthday"
      v-if="startDiagnostics"
    />
    <div
      class="registration-for-diagnostics"
      :style="[activeMobileDiagnostics ? { height: '520px' } : null]"
    >
      <div
        class="left"
        :style="[activeMobileDiagnostics ? { display: 'none' } : null]"
      >
        <div class="title">Пройдите диагностику у цифрового логопеда</div>
        <div class="addition">
          <div class="full-free">полностью бесплатно</div>
          <div class="teachers">получите мнение 1000 логопедов в одном</div>
        </div>
        <div class="button" @click="activeMobileDiagnostics = true">
          Начать диагностику
        </div>
        <div class="description">
          Онлайн-диагностика с помощью цифрового логопеда помогает определить
          наличие речевых дефектов за пару минут
        </div>
      </div>
      <div
        class="right"
        :style="[activeMobileDiagnostics ? { display: 'block' } : null]"
      >
        <div class="birthday">
          <div class="title">Укажите дату рождения ребенка</div>
          <div class="description">
            Она необходима, чтобы искусственный интеллект учел возрастные
            особенности
          </div>
          <input
            v-model="birthday"
            placeholder="Например, 26.06.2019"
            type="text"
          />
        </div>
        <div class="sounds">
          <div class="title">Какие звуки проверить</div>
          <div class="description">
            Укажите звуки, с произношением которых ребенок испытывает сложности
          </div>
          <div class="selected">
            <div
              class="sound"
              :class="[activeSounds.includes(sound) ? 'active' : null]"
              v-for="sound in sounds"
              @click="selectSound(sound)"
            >
              {{ sound.name }}
            </div>
          </div>
          <div class="button" @click="start">Начать диагностику</div>
          <div class="second-description">
            Диагностика в среднем занимает
            <template v-if="!activeSounds.length"> 2 минуты </template>
            <template v-else>
              {{ minutesForDiagnostics }}
            </template>
          </div>
        </div>
      </div>
    </div>
    <div class="how-it-works">
      <div class="title">Как это работает?</div>
      <div class="slider">
        <swiper
          :slides-per-view="firstSwiperPerView"
          :modules="swiperModules"
          :navigation="{
            prevEl: '.prev',
            nextEl: '.next',
          }"
          pagination
        >
          <div class="prev">
            <img src="/images/how-it-works/prev.png" alt="" />
          </div>
          <div class="next">
            <img src="/images/how-it-works/next.png" alt="" />
          </div>
          <swiper-slide v-for="slide in howItWorks">
            <div class="img">
              <img :src="slide.img" alt="" />
            </div>
            <div class="description" v-html="slide.description" />
          </swiper-slide>
        </swiper>
      </div>
    </div>
    <div class="digital-speech-therapist">
      <div class="title">Что такое цифровой логопед?</div>
      <div class="description">
        Это сервис, который работает на основе нейросети и знаний более чем
        1000+ логопедов, под их чутким руководством
      </div>
      <div class="slider">
        <swiper
          :slides-per-view="1"
          :modules="swiperModules"
          :navigation="{
            prevEl: '.prev',
            nextEl: '.next',
          }"
          :autoplay="{
            delay: 2500,
          }"
        >
          <div class="prev">
            <img src="/images/speech-therapist/prev.png" alt="" />
          </div>
          <div class="next">
            <img src="/images/speech-therapist/next.png" alt="" />
          </div>
          <swiper-slide v-for="slide in speechTherapist">
            <div class="img">
              <img :src="slide" alt="" />
            </div>
          </swiper-slide>
        </swiper>
      </div>
    </div>
    <div class="facts-about-the-platform">
      <div class="title">Факты о нашей платформе</div>
      <div class="description">
        Novator Space — лидирующая онлайн-платформа в области логопедии
      </div>
      <div class="statistics">
        <div class="left">
          <div class="number-of-students">
            <div class="text">Выпустили учеников с красивой речью</div>
            <div class="img">
              <img src="/images/facts-about-the-platform/1.png" alt="" />
            </div>
          </div>
          <div class="faster">
            <div class="text">Выпустили учеников с красивой речью</div>
            <div class="img">
              <img src="/images/facts-about-the-platform/2.png" alt="" />
            </div>
          </div>
          <div class="number-of-classes">
            <div class="text">Выпустили учеников с красивой речью</div>
            <div class="img">
              <img src="/images/facts-about-the-platform/3.png" alt="" />
            </div>
          </div>
        </div>
        <div class="right">
          <div class="img">
            <img src="/images/statistics/right.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { Swiper, SwiperSlide } from "swiper/vue";
import { Navigation, Pagination, Autoplay } from "swiper/modules";
import "swiper/css/navigation";
import "swiper/css/pagination";
import "swiper/css";

const swiperModules = [Pagination, Navigation, Autoplay];
const birthday: Ref<string> = ref("");

interface sound {
  id: number;
  name: string;
}

let windowSize = ref(window.screen.width);

window.addEventListener("resize", () => {
  windowSize.value = window.screen.width;
});

const firstSwiperPerView = computed(() => {
  if (windowSize.value < 600) {
    return 1;
  } else {
    return 3;
  }
});

const sounds: Array<sound> = [
  {
    id: 0,
    name: "В,Ф",
  },
  {
    id: 1,
    name: "К,Х,Г",
  },
  {
    id: 2,
    name: "С,З,Ц",
  },
  {
    id: 3,
    name: "Ж,Щ,Ч,Ш",
  },
  {
    id: 4,
    name: "Л,Р",
  },
];

const getNoun = (number: any, one: any, two: any, five: any) => {
  let n = Math.abs(number);
  n %= 100;
  if (n >= 5 && n <= 20) {
    return five;
  }
  n %= 10;
  if (n === 1) {
    return one;
  }
  if (n >= 2 && n <= 4) {
    return two;
  }
  return five;
};

const minutesForDiagnostics = computed(() => {
  return `${activeSounds.value.length * 2} ${getNoun(
    activeSounds.value.length * 2,
    "минута",
    "минуты",
    "минут"
  )}`;
});

const activeSounds: Ref<Array<sound>> = ref([]);

const activeMobileDiagnostics: Ref<boolean> = ref(false);

const deleteStep = () => {
  activeSounds.value.shift();
};

const selectSound = (sound: sound) => {
  if (!activeSounds.value.includes(sound)) {
    activeSounds.value.push(sound);
  } else {
    let index = activeSounds.value.findIndex((el) => el.id == sound.id);
    activeSounds.value.splice(index, 1);
  }
};

const howItWorks = [
  {
    img: "/images/how-it-works/1.png",
    description: "Заполните анкету выше, введя данные и выбрав нужные звуки",
  },
  {
    img: "/images/how-it-works/2.png",
    description: "Прослушайте фразу, необходимо чтобы ребенок повторил ее",
  },
  {
    img: "/images/how-it-works/3.png",
    description: "Готово!</br> ИИ-шке нужно 5 минут на подготовку отчета",
  },
];

const speechTherapist = [
  "/images/speech-therapist/1.png",
  "/images/speech-therapist/2.png",
  "/images/speech-therapist/3.png",
  "/images/speech-therapist/4.png",
];

const startDiagnostics: Ref<boolean> = ref(false);

const start = () => {
  if (!activeSounds.value.length) return;
  startDiagnostics.value = true;
};
</script>

<style lang="less">
.index-page-container {
  width: 100%;
  margin-bottom: 100px;

  .registration-for-diagnostics {
    width: 100%;
    height: 655px;
    background-color: #4f46d4;
    margin-top: 37px;
    color: #fff;
    box-sizing: border-box;
    padding: 56px 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;

    @media (max-width: 600px) {
      height: 435px;
      padding: 28px 20px 14px 20px;
      justify-content: center;
    }

    .left {
      width: 537px;

      @media (max-width: 600px) {
        font-size: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .title {
        font-size: 45px;
        font-family: "Stolzl-medium";

        @media (max-width: 600px) {
          font-size: 30px;
          width: 220px;
          text-align: center;
        }
      }

      .addition {
        margin-top: 53px;
        font-size: 50px;
        font-family: "Caveat-regular";
        color: #d7ee40;

        @media (max-width: 600px) {
          width: 250px;
          font-size: 30px;
          margin-top: 20px;
        }

        .full-free {
          line-height: 47px;

          @media (max-width: 600px) {
            line-height: 27px;
          }
        }

        .teachers {
          margin-top: 25px;
          margin-left: 84px;
          line-height: 42px;

          @media (max-width: 600px) {
            margin-top: 0;
            margin-left: 0;
            text-align: center;
            line-height: 27px;
          }
        }
      }

      .button {
        width: 100%;
        height: 43px;
        background-color: #fff;
        color: #4f46d4;
        text-align: center;
        display: none;
        font-size: 16px;
        line-height: 43px;
        border-radius: 10px;
        margin-top: 28px;

        @media (max-width: 600px) {
          display: block;
        }
      }

      .description {
        margin-top: 35px;
        font-size: 18px;
        line-height: 26px;
        font-family: "Stolzl-book";

        @media (max-width: 600px) {
          width: 240px;
          text-align: center;
          font-size: 8px;
          line-height: 13px;
          margin-top: 11px;
        }
      }
    }

    .right {
      color: #000;
      width: 532px;
      height: 543px;
      background-color: #fff;
      box-sizing: border-box;
      padding: 28px 35px;
      border-radius: 20px;

      @media (max-width: 600px) {
        display: none;
        width: 100%;
        height: 470px;
        padding: 25px;
      }

      .birthday {
        .title {
          font-family: "Stolzl-medium";
          font-size: 24px;
          line-height: 35px;

          @media (max-width: 600px) {
            text-align: center;
            font-size: 22px;
            line-height: 26px;
          }
        }

        .description {
          margin-top: 7px;
          font-size: 14px;
          font-family: "Stolzl-light";
          line-height: 19px;

          @media (max-width: 600px) {
            font-size: 12px;
            margin-top: 11px;
            line-height: 16px;
            text-align: center;
          }
        }

        input {
          margin-top: 23px;
          width: 100%;
          height: 52px;
          background-color: #ececec;
          border: none;
          box-sizing: border-box;
          padding: 0px 16px;
          border-radius: 10px;
          font-family: "Stolzl-book";
          font-size: 16px;

          @media (max-width: 600px) {
            margin-top: 20px;
            height: 40px;
            font-size: 10px;
          }

          &:focus {
            outline: none;
          }

          &::placeholder {
            font-family: "Stolzl-book";
            font-size: 16px;
            line-height: 19px;

            @media (max-width: 600px) {
              font-size: 10px;
            }
          }
        }
      }
    }

    .sounds {
      margin-top: 23px;

      .title {
        font-size: 24px;
        line-height: 35px;
        font-family: "Stolzl-medium";

        @media (max-width: 600px) {
          width: 100%;
          font-size: 20px;
          line-height: 29px;
        }
      }

      .description {
        margin-top: 7px;
        font-family: "Stolzl-light";

        @media (max-width: 600px) {
          display: none;
        }
      }

      .selected {
        width: 100%;
        margin-top: 15px;
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: flex-start;
        grid-column-gap: 23px;
        grid-row-gap: 15px;

        @media (max-width: 600px) {
          grid-column-gap: 17px;
        }

        .sound {
          font-family: "Stolzl-book";
          width: 104px;
          height: 40px;
          background-color: #ececec;
          text-align: center;
          line-height: 40px;
          border-radius: 10px;
          cursor: pointer;
          color: rgba(159, 159, 159, 1);
          box-sizing: border-box;

          @media (max-width: 600px) {
            width: 75px;
            height: 30px;
            font-size: 12px;
            line-height: 30px;
            border-radius: 5px;
          }
        }

        .active {
          background-color: #d5d3f5;
          border: 1px solid #4f46d4;
          color: #000;
        }
      }

      .button {
        width: 100%;
        height: 60px;
        background-color: #4f46d4;
        color: #fff;
        text-align: center;
        line-height: 60px;
        margin-top: 28px;
        border-radius: 10px;
        cursor: pointer;

        @media (max-width: 600px) {
          height: 45px;
          font-size: 14px;
          line-height: 45px;
        }
      }

      .second-description {
        margin-top: 13px;
        font-size: 13px;
        color: #676767;
        font-family: "Stolzl-light";
        text-align: center;
      }
    }
  }

  .how-it-works {
    width: 100%;
    margin-top: 74px;

    .title {
      font-size: 45px;
      line-height: 54px;
      font-family: "Stolzl-medium";
      margin-left: 85px;

      @media (max-width: 600px) {
        margin: 0;
        font-size: 26px;
      }
    }

    .slider {
      width: 100%;
      margin-top: 34px;
      position: relative;

      @media (max-width: 600px) {
        height: 436px;
      }

      .swiper {
        @media (max-width: 600px) {
          height: 436px;
        }
      }

      .prev {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        position: absolute;
        z-index: 100;
        bottom: 4px;
        left: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0.5px 1px #93a1c8;

        img {
          width: 50%;
          cursor: pointer;
        }
      }

      .next {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        box-shadow: 0px 0.5px 1px #93a1c8;
        z-index: 100;
        bottom: 4px;
        right: 20%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 45px;

        img {
          width: 50%;
          cursor: pointer;
        }
      }

      .swiper-wrapper {
        justify-content: space-evenly;

        @media (max-width: 600px) {
          justify-content: flex-start;
        }

        .swiper-slide {
          width: 318px !important;
          display: flex;
          flex-direction: column;
          align-items: center;

          @media (max-width: 600px) {
            width: 100% !important;
          }

          .img {
            width: 100%;
            img {
              width: 100%;
            }
          }

          .description {
            width: 250px;
            margin-top: 18px;
            text-align: center;
          }
        }
      }

      .swiper-pagination {
        bottom: 17px;

        .swiper-pagination-bullet {
          background-color: #e3e8f2;
        }
      }
    }
  }

  .digital-speech-therapist {
    margin-top: 70px;
    width: 100%;
    background-color: #f6f6fd;
    height: 587px;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 0 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 600px) {
      padding: 20px;
      height: 459px;
    }

    .title {
      font-size: 45px;
      line-height: 54px;
      font-family: "Stolzl-medium";

      @media (max-width: 600px) {
        font-size: 26px;
        line-height: 33px;
      }
    }

    .description {
      width: 85%;
      font-size: 24px;
      line-height: 35px;

      @media (max-width: 600px) {
        font-size: 16px;
        line-height: 23px;
        margin-top: 19px;
      }
    }

    .slider {
      margin-top: 57px;
      position: relative;

      @media (max-width: 600px) {
        margin-top: 37px;
      }

      .prev {
        width: 45px;
        position: absolute;
        z-index: 100;
        top: 50%;
        left: 10%;

        @media (max-width: 600px) {
          display: none;
        }

        img {
          width: 100%;
          cursor: pointer;
        }
      }

      .next {
        width: 45px;
        z-index: 100;
        top: 50%;
        right: 10%;
        position: absolute;

        @media (max-width: 600px) {
          display: none;
        }

        img {
          width: 100%;
          cursor: pointer;
        }
      }

      .swiper-wrapper {
        width: 100%;
        .swiper-slide {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .img {
            width: 628px;

            img {
              width: 100%;
            }
          }
        }
      }
    }
  }

  .facts-about-the-platform {
    margin-top: 90px;
    width: 100%;
    padding: 0px 85px;
    box-sizing: border-box;

    @media (max-width: 600px) {
      padding: 0;
      margin-top: 55px;
    }

    .title {
      font-family: "Stolzl-medium";
      font-size: 45px;
      line-height: 54px;

      @media (max-width: 600px) {
        padding: 0 25px;
        font-size: 26px;
        line-height: 33px;
      }
    }

    .description {
      font-size: 24px;
      line-height: 54px;

      @media (max-width: 600px) {
        padding: 0 25px;
        font-size: 16px;
        line-height: 23px;
        margin-top: 9px;
      }
    }

    .statistics {
      margin-top: 54px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 600px) {
        flex-direction: column;
      }

      .left {
        width: 670px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 25px;

        @media (max-width: 600px) {
          width: 100%;
          grid-template-columns: auto;
        }

        .number-of-students {
          width: 100%;
          height: 197px;
          background-color: #edecfb;
          box-sizing: border-box;
          padding: 22px 25px;
          border-radius: 20px;
          grid-column-start: 1;
          grid-column-end: 4;
          display: flex;
          justify-content: space-between;

          @media (max-width: 600px) {
            flex-direction: column;
          }

          .img {
            width: 321px;
            margin-top: 40px;

            @media (max-width: 600px) {
              width: 250px;
              margin-top: 10px;
            }

            img {
              width: 100%;
            }
          }

          @media (max-width: 600px) {
            width: 100%;
            height: 172px;
            grid-column-start: auto;
            grid-column-end: auto;
          }
        }

        .faster {
          width: 320px;
          height: 269px;
          background-color: #feecf8;
          border-radius: 20px;
          box-sizing: border-box;
          padding: 22px 25px;

          .img {
            width: 171px;
            margin: 0 auto;
            margin-top: 70px;

            @media (max-width: 600px) {
              margin-top: 25px;
            }

            img {
              width: 100%;
            }
          }

          @media (max-width: 600px) {
            width: 100%;
            height: 172px;
          }
        }

        .number-of-classes {
          width: 320px;
          height: 269px;
          background-color: #fff0e5;
          border-radius: 20px;
          box-sizing: border-box;
          padding: 22px 25px;

          .img {
            width: 192px;
            margin: 0 auto;
            margin-top: 50px;

            @media (max-width: 600px) {
              width: 150px;
              margin-top: 0;
            }

            img {
              width: 100%;
            }
          }

          @media (max-width: 600px) {
            width: 100%;
            height: 172px;
          }
        }
      }

      .right {
        width: 360px;

        @media (max-width: 600px) {
          display: none;
        }

        .img {
          width: 100%;

          img {
            width: 100%;
          }
        }
      }
    }
  }
}
</style>
